@import url('https://fonts.googleapis.com/css?family=Sansita');

* {
    box-sizing: border-box;
    /* changes width property
    to total width instead of content width */
}

*:before,
*:after {
    box-sizing: border-box;
}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
    display: block;
    /* support for older browsers */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
    /* set font style for webpage */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Sansita', sans-serif;
    /* set font style for headings */
}

header {
    background-color: #0e89d5;
    display: flex;
    align-items: center;
}

#logo {
    /* sets size of logo (top right corner) */
    width: 20%;
    height: auto;
}

h1 {
    margin-left: .5em;
}

h2 {
    font-size: 2em;
    margin-top: .4em;
    margin-bottom: .2em;
}

h3 {
    font-size: 1.5em;
    margin-top: .5em;
    margin-bottom: .5em;
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    /* ^ puts nav on the bottom of the screen */
    background-color: #0e89d5;
    font-size: .85em;
}

.menu {
    /* navigation menu */
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* link styles */

a:link {
    color: #FFF;
    text-decoration: none;
}

a:visited {
    color: #D8F;
    text-decoration: none;
}

a:hover {
    color: #0e89d5;
    text-decoration: none;
}


main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #FFF;
    /*
    background-image: url(/weather/img-weather/sunny-winter.jpg);
    image provided is not appropriate for the weater data
    */
}

ul {
    display: flex;
    list-style: none;
    padding-left: 0px;
}

.overview {
    /* first section in main */
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 55%;
    background-color: rgba(200, 200, 200, .6);
    border: 1px solid;
    border-radius: 10px;
    margin-top: 1em;
    margin-bottom: 2em;
}

#temp-banner {
    display: none;
    /* hides "Current Temperature" banner in .overview */
}

#temp {
    font-size: 3em;
    font-weight: bold;
    margin-top: .5em;
    margin-bottom: .25em;
}

#sum-banner {
    display: none;
    /* hides "Today's High and Low" banner in .overview */
}

.summary {
    align-items: center;
    font-size: 1.1em;
    margin-top: 0;
}

#sum-img-li {
    height: 35px;
    margin-right: 1em;
}

#sunny-img {
    width: 35px;
    height: auto;
}

.cur_conditions {
    /* second section in main */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 75%;
    background-color: rgba(200, 200, 200, .6);
    margin-top: .4em;
    margin-bottom: 2em;
    border: 1px solid;
    border-radius: 10px;
}

.conditions {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.label {
    font-weight: bold;
    margin-left: .25em;
    margin-right: .5em;
}

footer {
    font-size: .9em;
    margin-bottom: 45px;
    margin-left: .25em;
}
