html * {
    box-sizing: border-box;
}

body {
    background-color: deepskyblue;
    font-size: 24px;
}

nav,
.title {
    background-color: #808080;
    border: 2px solid #000000;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-around;
    color: white;
}

#main-title {
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1.4em;
}

.title {
    align-items: center;
}

#zip {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: .9em;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-grow: 2;
    padding: 0px;
}

a:link,
a:visited {
    color: white;
    text-decoration: none;
}

a:active {
    background-color: #666666;
}

.menu-item {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: .8em;
}

.temperature {
    background-color: #808080;
    border: 2px solid #000000;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
}

.temperature > h2 {
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
}

.variance {
    flex-wrap: wrap;
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
}

.summary h4 {
    background-color: #808080;
    border: 2px solid #000000;
    margin-top: 0px;
    margin-bottom: 8px;
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: .9em;
    text-align: center;
    display: flex;
    justify-content: center;
}

.coordinates {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hourly-container {
    background-color: #808080;
    border: 2px solid #000000;
    margin-top: 0px;
    margin-bottom: 8px;
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: .9em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hourly-container h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.hourly-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 300px;
}

.hourly-data-ls {
    display: none;
}

.data-left,
.data-right,
.data-mid-left,
.data-mid-right {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.data-left {
    text-align: right;
}

.data-mid-left {
    text-align: right;
}

.data-mid-right {
    text-align: right;
}

.data-right {
    text-align: right;
}

@media screen and (min-width: 750px) {
    body {
        margin: 10%;
        margin-top: 0%;
    }
    .hourly-data {
        display: none;
    }
    .hourly-data-ls {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 300px;
    }
    .hourly-data-ls li {
        width: 130px;
    }
    .hourly-data-ls ul {
        margin-right: 5px;
        margin-left: 5px;
    }
}

@media screen and (min-width: 1100px) {
    body {
        margin-left: 15%;
        margin-right: 15%;
    }
}