html * {
    box-sizing: border-box;
}

body {
    background-color: deepskyblue;
    font-size: 24px;
}

nav,
.title {
    background-color: #808080;
    border: 2px solid #000000;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-around;
    color: white;
}

#main-title {
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1.4em;
}

#zip {
    padding-top: 0px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: .9em;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-grow: 2;
    padding: 0px;
}

a:link,
a:visited {
    color: white;
    text-decoration: none;
}

a:active {
    background-color: #666666;
}

.menu-item {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: .8em;
}

.temperature {
    background-color: #808080;
    border: 2px solid #000000;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
}

.temperature > h2 {
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
}

.variance {
    flex-wrap: wrap;
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
}

.summary h4 {
    background-color: #808080;
    border: 2px solid #000000;
    margin-top: 0px;
    margin-bottom: 8px;
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: .9em;
    text-align: center;
}